.card-detail-main{
    background-color: #e8e8e8;
    text-align: center;
}

.card-detail-main:hover{
    background-color: #e4e4e4;
}

.box-content .col table td{
    text-align: left;
}

.box-content .col table:hover{
    background-color: #dbdbdb;
}

.box-content .col table tr:hover{
    background-color: #d6cdcd;
}

.card-detail-main{
    height: 415px;
}

.card-detail-main button{
    position: absolute;
right:    0;
bottom:   0;
}