.title {
    padding: 1em 5em 0em 5em;
    text-align: center;
}
.title h1{
    color: darkgray;
}

.boxes{
    color: black;
    
}

.box-content{
    background-color: #ebebeb;
    min-height: 300px;
    padding: 2em 1em 2em 1em;

}
.arrow{
    text-align: center;
}
.triangle-down{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    border-top: 30px solid #a70f0c;
    margin: auto;
}

/* Card Item */

.card-main{
    text-align: center;
}
.card-main .title, .text{
    color: black;
    font-family: sans-serif;
}
.title{
    font-weight: 600;
}
.text{
    padding-left: 60px !important;
    padding-top: 10px;
    padding-right: 60px !important;
    padding-bottom: 10px;
    opacity: 0.5;
}

/* Card Detail */

.card-detail-main{
    background-color: #e8e8e8;
    text-align: center;
}

.card-detail-main:hover{
    background-color: #e4e4e4;
}

.box-content .col table:hover{
    background-color: #dbdbdb;
}

.box-content .col table tr:hover{
    background-color: #d6cdcd;
}

.card-detail-main{
    height: 415px;

    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#segment-2-main{
  
}
#table{
    
}
#segment-2-main button{
width: 100px;
}
 table td img{
     width: 20px;
     height: 20px;
 }
 table tr{
     text-align: left;
 }
 table tr td span{
     margin-left: 5px;
     font-weight: bold;
 }
 #main{
     position: relative;
 }
 